.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
  }

.div-alley {  
    background-color: white; 
    width : 450px;
    padding: 25px ;
    margin : 20px 11px; 
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    transition: box-shadow 0.3s ease
}

.div-alley:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}
.sals-name {
  font-size: 120px;
  margin-top:150px;
  color : rgb(103, 153, 200); 
  text-shadow:2px 2px 5px rgb(10,10,10,10);
  text-align: center;
}
.sals-name:hover {
  color:rgb(44, 44, 158)
}